body {
    width:960px;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 2.0em;
    background-color: #EDEDED;
}
h2 {
    color: #CC1C0D;
    background-color: #DFE3E6;
    border: 1px solid #929CA4;
    padding: 10px;
    border-radius: 7px;    
}
a {
    color: #CC1C0D;
}
body > p:first-of-type::first-letter {
    font-size: 30px;
}
.solution span {
    color: #CC1C0D;
    font-weight: bold;
    vertical-align: top;
}
.solution img {
    margin-right: 10px;
    vertical-align: top;
}
p[id^="testimonial"] {
    font-style: italic;
    margin-left: 50px;
}
a[href^="http"]:link {
    color:#CC1C0D;
    font-style: normal;
}
a[href^="http"]:hover {
    color: darkred;
}
a[href^="http"]:visited {
    color: green;
}
a[href^="http"]:active {
    color:blueviolet;    
}
ul:first-of-type {
    list-style-type: none;
    /* list-style-position: inside; */
    padding-left: 0;
}
section img {
    border: #CC1C0D solid 2px;
    border-radius: 45px;
    vertical-align: bottom;
    margin-right: 10px;
}
section ~ p {
    vertical-align: top;
}
.pricing div {
    width: 23%;
    float: left;
    margin-right: 10px;
    border: #929CA4 1px solid;
    border-radius: 6px;
    text-align: center;
}
.pricing div span {
    height: 50px;
    display: block;
    padding: 12px;
    text-align: center;
    border-bottom: #CC1C0D 8px solid;
}
.pricing div:nth-child(2) span {
    border-bottom: #37A4A4 8px solid;
}
.pricing div:nth-child(3) span {
    border-bottom: #685288 8px solid;
}
.pricing div:nth-child(4) span {
    border-bottom: #000000 8px solid;
}